{% extends "admin/base.html" %}

{% block title %}{{ config.SITE_NAME }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ config.SITE_NAME }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
